<div style="height: 100px"></div>
<div class="ll-search pb-6">
  <div class="container">
    <div class="border overflow-hidden sm:rounded-md p-5">
      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4>Filter By Category</h4>
        </div>
        <div class="mt-3 flex">
          <form
            [formGroup]="categorySelectForm"
            (ngSubmit)="filterProducts()"
            id="categoryForm"
            #categoryForm="ngForm"
            class="flex-1 w-full sm:text-sm lg:text-xl border-gray-300 rounded-l-md py-3 px-6"
          >
            <select
              formControlName="category"
              class="flex-1 w-full sm:text-sm lg:text-xl border-gray-300 rounded-l-md py-3 px-6"
            >
              <option [ngValue]="null">All Categories</option>
              <option *ngFor="let category of categories" [ngValue]="category.id">
                {{ category.name }} - {{ category.description }}
              </option>
            </select>
            <button
              type="submit"
              class="bg-primary w-24"
              style="border-radius: 5px; box-shadow: 1px 2px 4px rgb(169, 169, 169)"
            >
              <mat-icon class="leading-8">search</mat-icon>
            </button>
          </form>
          <button
            (click)="navigateUsingButton('products-admin/add-product')"
            class="bg-warn w-24"
            style="border-radius: 5px; margin-left: 3px; box-shadow: 1px 2px 4px rgb(169, 169, 169)"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ll-products-area mb-24">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
      <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
        <form id="editProductForm" #editProductForm="ngForm" (ngSubmit)="editThisProduct(product.id, editProductForm)">
          <mat-card class="ll-product">
            <!-- <img
            mat-card-image
            [src]="product?.images[0]"
            alt="{{ product.name }}"
            style="width: 100%; margin: 0 0 20px"
          /> -->
            <mat-card-content class="flex">
              <div class="flex-none w-10">
                <!-- <img src="{{ product?.created_by?.avatar }}" alt="product?.created_by?.name" /> -->
              </div>
              <div class="flex-grow pl-3">
                <input
                  style="width: 100%; border-radius: 3px"
                  type="text"
                  ngModel
                  name="name"
                  id="name"
                  placeholder="{{ product.name }}"
                  class="ll-product__name"
                />
                <div class="flex justify-between mt-5">
                  <input
                    style="width: 100%; border-radius: 3px"
                    type="text"
                    ngModel
                    name="description"
                    id="description"
                    placeholder="{{ product?.description }}"
                    class="ll-product__creator"
                  />
                </div>
                <!-- <div class="flex justify-between mt-5">
                  <div class="ll-product__price-label">Count</div>
                  <input
                    (input)="sendTheNewValue(product.id, $event)"
                    style="width: 50%; border-radius: 3px; border-width: 1px"
                    type="number"
                    ngModel
                    required
                    name="qty"
                    id="qty"
                    min="1"
                    max="1000"
                    step="1"
                    value="qty"
                  />
                </div> -->
                <div class="flex justify-between mt-5">
                  <div class="ll-product__price-label">Price: AED</div>
                  <input
                    type="number"
                    ngModel
                    name="price"
                    id="price"
                    placeholder="{{ product.price | number: '1.2-2' }}"
                    style="width: 50%; border-radius: 3px"
                    class="ll-product__price text-accent font-bold"
                  />
                </div>
                <div class="flex justify-between mt-5">
                  <select
                    style="margin-bottom: 10px; border-radius: 3px; font-size: 1rem; width: 100%"
                    ngModel
                    name="categoryID"
                    id="categoryID"
                  >
                    <option *ngFor="let category of categories" value="{{ category.id }}">
                      {{ category.name }}
                    </option>
                  </select>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="ll-product__action flex justify-between">
              <!-- <div class="flex-1 text-center flex items-center justify-center">
              <mat-icon color="warn">star</mat-icon> {{ product.rating }}/5
            </div> -->
              <!--TODO: add products count-->
              <div class="flex-1 text-center">
                <!-- <button
                  (click)="addProductToCart(product.id, editProductForm)"
                  mat-raised-button
                  color="primary"
                  class="px-4"
                >
                  Add to shopping cart
                </button> -->
                <button type="sumbit" id="editButton" mat-raised-button color="warn" class="px-4">Edit</button>
                <button
                  id="deleteButton"
                  (click)="deleteProduct(product.id)"
                  mat-raised-button
                  color="accent"
                  class="px-4"
                >
                  Delete
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </div>
    <!-- <div *ngIf="!isLoaded">
      <ngx-skeleton-loader
        count="9"
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
    </div> -->
  </div>
</div>
