<div>
  <div class="container">
    <h5 class="mb-3 font-medium">Order: {{ order.orderNumber }}</h5>
    <h5 class="mb-3 font-medium">Status: {{ order?.status }}</h5>
  </div>
  <div class="table-inside">
    <table class="order-table table-auto ltMd:responsive">
      <thead>
        <tr class="border text-left">
          <th>
            <span class="text-gray-800">Product Name</span>
          </th>
          <th>
            <span class="text-gray-800">Description</span>
          </th>
          <th>
            <span class="text-gray-800">Individual Price</span>
          </th>
          <th>
            <span class="text-gray-800">Count</span>
          </th>
          <!-- <th>
            <span class="text-gray-800">Total Products</span>
          </th>

          <th>
            <span class="text-gray-800">Status</span>
          </th>
          <th class="text-right">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" class="border">
          <td>
            <span class="text-primary">{{ product?.name }}</span>
          </td>
          <td>
            <span>{{ product.description }}</span>
          </td>
          <td>
            <span>AED {{ product.price }}</span>
          </td>
          <td>
            <span>{{ product.productCount }}</span>
          </td>
          <td>
            <!-- <div
              [ngClass]="{
                'bg-blue-500 text-blue-500': order?.status === 'completed',
                'bg-red-500 text-red-500': order?.status === 'rejected',
                'bg-yellow-500 text-yellow-900': order?.status === 'pending',
                'bg-primary text-primary': order?.status === 'initialized'
              }"
              class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
            >
              {{ order?.status | titlecase }}
            </div> -->
          </td>

          <!-- <td class="text-right">
            <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xposition="before">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Details</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td> -->
        </tr>
      </tbody>
      <tfoot>
        <h6 id="totalCost " class="mb-3 font-medium" style="margin-right: 50px">
          Total Cost: AED{{ order.totalCost }}
        </h6>
        <h6 class="mb-3 font-medium">Total Products: {{ order.productCount }}</h6>
      </tfoot>
    </table>
  </div>
</div>
