<!-- <ll-product-hero></ll-product-hero>
<div class="ll-search pb-6">
  <div class="container">
    <div class="border overflow-hidden sm:rounded-md p-5">
      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4>Admin</h4>
          <button (click)="advanceSearchExpanded = !advanceSearchExpanded" mat-button>
            <mat-icon>tune</mat-icon> ADVANCED SEARCH
          </button>
        </div>
        <div class="mt-3 flex">
          <input
            type="text"
            placeholder="I am looking for ..."
            class="flex-1 w-full sm:text-sm lg:text-xl border-gray-300 rounded-l-md py-3 px-6"
            required
          />
          <button class="bg-primary w-24 rounded-r-md"><mat-icon class="leading-8">search</mat-icon></button>
        </div>
      </div>
      <mat-expansion-panel [expanded]="advanceSearchExpanded">
        <div id="search" class="grid grid-cols-6 gap-6 mt-4">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
              placeholder="Start price"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
              placeholder="End price"
            />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <select
              name="categories"
              class="
                mt-1
                block
                w-full
                py-2
                px-3
                border border-gray-300
                bg-white
                rounded-md
                shadow-sm
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                sm:text-sm
              "
            >
              <option *ngFor="let category of categories" value="{{ category.id }}">
                {{ category.name }}
              </option>
            </select>
          </div> -->
<!-- <div class="col-span-6 sm:col-span-3">
            <select
              name="rating"
              class="
                mt-1
                block
                w-full
                py-2
                px-3
                border border-gray-300
                bg-white
                rounded-md
                shadow-sm
                focus:outline-none
                focus:ring-indigo-500
                focus:border-indigo-500
                sm:text-sm
              "
            >
              <option>Rating</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div> -->
<!-- <div class="col-span-6">
            <button type="submit" mat-flat-button color="accent">Apply filter</button>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<div class="ll-products-area mb-24">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
      <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="ll-product"> -->
<!-- <img
            mat-card-image
            [src]="product?.images[0]"
            alt="{{ product.name }}"
            style="width: 100%; margin: 0 0 20px"
          /> -->
<!-- <mat-card-content class="flex">
            <div class="flex-none w-10">
              <img src="{{ product?.created_by?.avatar }}" alt="product?.created_by?.name" />
            </div>
            <div class="flex-grow pl-3">
              <h2 class="ll-product__name">
                <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
              </h2>
              <h4 class="ll-product__creator" style="text-overflow: ellipsis">{{ product?.description }}</h4>
              <div class="flex justify-between mt-5">
                <div class="ll-product__price-label">Price:</div>
                <div class="ll-product__price text-accent font-bold">AED{{ product.price }}</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="ll-product__action flex justify-between"> -->
<!-- <div class="flex-1 text-center flex items-center justify-center">
              <mat-icon color="warn">star</mat-icon> {{ product.rating }}/5
            </div> -->
<!--TODO: add products count-->
<!-- <div class="flex-1 text-center">
              <button (click)="addProductToCart(product.id)" mat-raised-button color="warn" class="px-4"> -->
<!-- <a [routerLink]="['/products', product.id]">t</a> -->
<!-- Add to shopping cart
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div> -->
<!-- <div *ngIf="!isLoaded">
      <ngx-skeleton-loader
        count="9"
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
    </div> -->
<!-- </div>
</div> -->

<!-- <div class="ll-find-more mt-10 mb-36">
  <div class="container rounded-md">
    <h2 class="ll-find-more__heading">Didn't find what you were looking for? There is more we can do for you.</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      <div class="_card bg-white rounded-md">
        <h3 class="_card__title font-normal text-black">Post Requirements and let our consultants make an individual offer</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Talent marketplace</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
      <div class="_card bg-white rounded-md ml-auto">
        <h3 class="_card__title font-normal text-black">Post a problem and we will look for talented and skillful suitable advisors.</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Scouting</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
    </div>
  </div>
</div> -->

<div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
  <form id="addProductForm" #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)">
    <h1 class="text-2xl font-bold">Add Product</h1>
    <div class="mb-4 mt-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="name">Name</label>
      <input
        class="
          text-sm
          appearance-none
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          bg-gray-100
          leading-tight
          focus:outline-none
          focus:shadow-outline
          h-10
        "
        ngModel
        name="name"
        id="name"
        type="text"
        placeholder="Name"
      />
    </div>
    <div class="mb-6 mt-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="description"> Description </label>
      <input
        class="
          text-sm
          bg-gray-100
          appearance-none
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          mb-1
          leading-tight
          focus:outline-none
          focus:shadow-outline
          h-10
        "
        ngModel
        name="description"
        id="description"
        type="text"
        placeholder="Description"
      />
    </div>
    <div class="mb-4 mt-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="price">Price</label>
      <input
        class="
          text-sm
          appearance-none
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          bg-gray-100
          leading-tight
          focus:outline-none
          focus:shadow-outline
          h-10
        "
        ngModel
        name="price"
        id="price"
        type="number"
        placeholder="Price"
      />
    </div>
    <div class="mb-6 mt-6">
      <label class="block text-gray-700 text-sm font-semibold mb-2" for="category"> Category </label>
      <select
        style="margin-bottom: 10px; border-radius: 3px; background-color: #f3f4f6; font-size: 0.9rem; width: 100%"
        ngModel
        name="categoryID"
        id="categoryID"
      >
        <option *ngFor="let category of categories" value="{{ category.id }}">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="flex w-full mt-6" style="padding: 5px">
      <button
        class="
          w-full
          bg-gray-800
          hover:bg-grey-900
          text-white text-sm
          py-2
          px-4
          font-semibold
          rounded
          focus:outline-none
          focus:shadow-outline
          h-10
        "
        type="submit"
      >
        Add
      </button>
    </div>
  </form>
  <div id="success"></div>
  <!-- <div class="mt-3">
    <span class="text-gray-600 text-sm"> Don't have an account? </span>
    <a routerLink="/auth/signup" class="text-gray-700 text-sm font-semibold hover:text-accent"> Sign up </a>
  </div>
  <div class="mt-4">
    <a [routerLink]="['/']" class="text-gray-700 text-sm hover:text-accent inline-flex items-center"
      ><mat-icon class="h-4 w-4 leading-4 text-lg mr-2">keyboard_backspace</mat-icon>Go to Home</a
    >
  </div>
</div> -->
</div>
